/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Apply Open Sans for body text globally */
* {
    font-family: "Open Sans", sans-serif;
}

/* Body text and general content */
body {
    font-family: "Open Sans", sans-serif; /* Default font for body */
    line-height: 1.6;
    color: #333; /* Default text color for readability */
}

/* Header font style */
h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans 3", sans-serif; /* Headers with Source Sans 3 */
    font-weight: 700; /* Bold for emphasis */
    color: #222; /* Dark color for headings */
}

/* Ensure the hero card text is white */
.fade-text {
    transition: opacity 1s ease;
    opacity: 0;
}

.fade-text.show {
    opacity: 1;
}

/* The text will become fully visible once the 'show' class is added */
.show#slideshow-text, .show#hero-card-1 {
    opacity: 1 !important;  /* Makes the element visible */
}

/* Adjust navbar text for better visibility when scrolled */
.scrolled.navbar .navbar-brand, 
.scrolled.navbar .nav-link {
    color: black !important; /* Ensure navbar brand and links change to black when scrolled */
}

/* Adjust burger icon color when scrolled */
.scrolled.navbar .navbar-toggler i {
    color: black;
}

.scrolled.navbar {
    background-color: white;
}


.hero {
    position: relative;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-image: url('https://cdn.pixabay.com/photo/2018/05/04/20/01/website-3374825_1280.jpg');
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black for dimming */
    z-index: 1; /* Make sure the overlay is above the background but below the content */
}

.container {
    position: relative;
    z-index: 2; /* Ensure content appears above the overlay */
}

.hero-content {
    color: #fff; /* White text to contrast against the dimmed background */
}

#hero-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
}

#hero-text {
    font-size: 1.25rem;
}
